/**
 * @file
 *
 * Styles for the home page.
 */
body, html {
    height: 100%;
    position: relative;
    width: 100%;
}
.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    > ul {
        flex-grow: 1;
        list-style: none;
        margin: 0;
        padding: 0 15px;
        @include media-breakpoint-up(md){
            width: 50%;
        }
        @include media-breakpoint-up(lg){
            width: 25%;
        }
    }
    .skill {//Have skills slide down and change color based off category with an after or before element that scrolls down slower than the scroll
        cursor: pointer;
        margin: 15px 0;
        overflow: hidden;
        padding: 15px;
        position: relative;
        text-align: center;
        &:before {
            background-color: $gray;
            content: '';
            display: block;
            height: 0;
            left: 0;
            position: absolute;
            top: 0;
            transition: height 1s ease;
            width: 100%;
            z-index: 1;
        }
        &:hover {
            &:before {
                height: 100%;
            }
            > span {
                height: 100px;
            }
        }
        .skill-description {
            background-color: rgba(255,255,255,.25);
            height: 0;
            overflow: hidden;
            padding: 0 15px;
            transition: height 1.25s ease;
            > span {
                display: block;
                padding: 15px 0;
            }
        }
        .skill-title {
            color: $white;
            margin: 0;
            padding: 15px;
        }
        .skill-description, .skill-title {
            display: block;
            position: relative;
            z-index: 2;
        }
    }
    .developmentSoftware-skills .skill {
        background-color: $orange;
    }
    .general-skills .skill {
        background-color: $purple;
    }
    .operatingSystem-skills .skill {
        background-color: $green;
    }
    .webDevelopment-skills .skill {
        background-color: $blue;
    }
}

.hero {
    background-color: $black;
    .bcg {
        color: $white;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        text-align: center;
        text-shadow: 0 0 5px rgba(255,255,255,.33);
        top: 20%;
        z-index: 9999;
    }
}
.parallax-container {
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    width: 100vw;
  }
  
  .parallax-layer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1500px;
    
    img{
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      min-width: 2500px;
    }
  }
  
  .parallax-cover{
    background: linear-gradient(transparent 5%,#fff 31%);
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    min-height: 2000px;
    z-index: 9999;
    .main-content {
        margin-top: 625px;
        padding-bottom: 150px;
    }
  }
  
  $parallax__layers: 6;
  
  @for $i from 0 through $parallax__layers {
    $x: ($parallax__layers - $i) / 2;
    .layer-#{$i}{
       transform: translateZ(-100 * $x#{px}) scale($x + 1);
    }
  }