/**
 * @file
 *
 * Styles for the home page.
 */
body, html {
    height: 100%;
    position: relative;
    width: 100%;
}
.projects {
    list-style: none;
    padding: 0;
    .project {//Have projects slide down and change color based off category with an after or before element that scrolls down slower than the scroll
        display: block;
        cursor: pointer;
        margin: 15px 0;
        overflow: hidden;
        padding: 15px;
        position: relative;
        text-align: center;
        &:before {
            background-color: $gray;
            content: '';
            display: block;
            height: 0;
            left: 0;
            position: absolute;
            top: 0;
            transition: height 1s ease;
            width: 100%;
            z-index: 1;
        }
        &:hover {
            &:before {
                height: 100%;
            }
            > span {
                height: 100px;
            }
        }
        a {
            text-decoration: none;
        }
        .project-description {
            background-color: rgba(255,255,255,.2);
            color: $white;
            height: 0;
            overflow: hidden;
            padding: 0 15px;
            transition: height 1.25s ease;
            > span {
                display: block;
                padding: 15px 0;
            }
            img{
                margin-top: 15px;
                max-width: 100%;
            }
        }
        .project-title {
            color: $white;
            margin: 0;
            padding: 15px;
        }
        .project-description, .project-title {
            display: block;
            position: relative;
            z-index: 2;
        }
        &:nth-child(4n + 1) {
            background-color: $orange;
        }
        &:nth-child(4n + 2) {
            background-color: $purple;
        }
        &:nth-child(4n + 3) {
            background-color: $green;
        }
        &:nth-child(4n + 4) {
            background-color: $blue;
        }
    }
}

.hero {
    background-color: $black;
    .bcg {
        color: $white;
        font-family: "Roboto Mono", sans-serif;
        font-weight: 700;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        text-align: center;
        text-shadow: 0 0 20px 2px rgba(0,0,0,1);
        top: 20%;
        z-index: 9999;
        .hsContent {
            background-color: rgba(0,0,0, .5);
        }
        h1 {
            font-size: 48px;
            @include media-breakpoint-up(md){
                font-size: 72px;
            }
        }
        h2 {
            font-size: 24px;
            @include media-breakpoint-up(md){
                font-size: 64px;
            }
        }
    }
}
.parallax-container {
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    width: 100vw;
}

.parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1500px;
    height: 2000px;
    overflow: hidden;
    img {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        min-width: 2500px;
    }
    &.layer-1 {
        transform: translateZ(-148.5px) scale(2.5) rotate(180deg);
    }
}

.parallax-cover{
    background: linear-gradient(transparent 5%,darken($gray, 10%) 31%);
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    min-height: 2000px;
    z-index: 9999;
    .main-content {
        background-color: darken($white, 25%);
        border-radius: 20px;
        margin-top: 700px;
        margin-bottom: 50px;
        padding: 30px;
        h3 {
            color: $white;
            text-align: center;
        }
    }
}

$parallax__layers: 3;
  
@for $i from 0 through $parallax__layers {
$x: ($parallax__layers - $i) / 2;
.layer-#{$i}{
    transform: translateZ(-99 * $x#{px}) scale($x + 1);
}
}
  .skills {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: flex-start;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        @include media-breakpoint-up(md){
            padding: 0 2.5%;
            width: 50%;
        }
        @include media-breakpoint-up(lg){
            padding: 0 1.25%;
            width: 25%;
        }
        &.general-skills { 
            .skill-title {
                background-color: $orange;
            }
            .skill-stars {
                color: $orange;
            }
        }
        &.webDevelopment-skills {
            .skill-title {
                background-color: $purple;
            }
            .skill-stars {
                color: $purple;
            }
        } 
        &.operatingSystem-skills {
            .skill-title {
                background-color: $green;
            }
            .skill-stars {
                color: $green;
            }
        }
        &.developmentSoftware-skills {
            .skill-title {
                background-color: $blue;
            }
            .skill-stars {
                color: $blue;
            }
        } 
        .skill {
            margin-bottom: 15px;
            background-color: #fff;
            border-radius: 10px;
            border-color: $lightGray;
            box-shadow: 0 0 5px 1px rgba(0,0,0,.5);
            overflow: hidden;
            text-align: center;
            .skill-title {
                color: $white;
                font-size: 24px;
                padding: 15px;
            }
            .skill-stars {
                font-size: 24px;
                padding: 7px 15px;
            }
            .skill-description {
                display: block;
                padding: 7px 15px 15px;
            }
        }
      }
  }