/**
 * @file
 *
 * Styles for the home page.
 */
body, html {
    height: 100%;
    position: relative;
    width: 100%;
}
.projects-container, .skills {
    margin-bottom: 60px;
}
.projects {
    list-style: none;
    padding: 0;
    .project {//Have projects slide down and change color based off category with an after or before element that scrolls down slower than the scroll
        display: block;
        cursor: pointer;
        margin: 15px 0;
        overflow: hidden;
        padding: 15px;
        position: relative;
        text-align: center;
        &:before {
            background-color: $gray;
            content: '';
            display: block;
            height: 0;
            left: 0;
            position: absolute;
            top: 0;
            transition: height 1s ease;
            width: 100%;
            z-index: 1;
        }
        &:hover {
            &:before {
                height: 100%;
            }
            > span {
                height: 100px;
            }
        }
        a {
            text-decoration: none;
        }
        .project-description {
            background-color: rgba(255,255,255,.2);
            color: $white;
            height: auto;
            overflow: hidden;
            padding: 0 15px;
            transition: height 1.25s ease;
            @include media-breakpoint-up(md){
                height: 0;
            }
            > span {
                display: block;
                padding: 15px 0;
            }
            img{
                margin-top: 15px;
                max-width: 100%;
            }
        }
        .project-title {
            color: $white;
            margin: 0;
            padding: 15px;
        }
        .project-description, .project-title {
            display: block;
            position: relative;
            z-index: 2;
        }
        &:nth-child(4n + 1) {
            background-color: $orange;
        }
        &:nth-child(4n + 2) {
            background-color: $purple;
        }
        &:nth-child(4n + 3) {
            background-color: $green;
        }
        &:nth-child(4n + 4) {
            background-color: $blue;
        }
    }
}

.hero {
    background-color: $black;
    .bcg {
        color: $white;
        font-family: "Roboto Mono", sans-serif;
        font-weight: 700;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        text-align: center;
        text-shadow: 0 0 20px 2px rgba(0,0,0,1);
        top: 20%;
        z-index: 9999;
        .hsContent {
            background-color: rgba(0,0,0, .5);
        }
        h1 {
            font-size: 48px;
            @include media-breakpoint-up(md){
                font-size: 72px;
            }
        }
        h2 {
            font-size: 24px;
            @include media-breakpoint-up(md){
                font-size: 64px;
            }
        }
        .down-arrow {
            animation-name: downArrow;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            background-color: rgba(0, 0, 0, .5);
            border-radius: 50%;
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            top: 250%;
            width: 45px;
            height: 45px;
            margin: auto;
            &::after, &::before {
                content: '';
                display: block;
                background-color: $white;
                height: 15px;
                left: 4px;
                margin: auto;
                position: relative;
                top: 2px;
                width: 2px;
            }
            &::after {
                transform: rotate(45deg);
            }
            &::before {
                transform: rotate(-45deg) translateY(4px) translate(-17px);
            }
        }
    }
}
@keyframes downArrow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}
.parallax-container {
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    width: 100vw;
}

.parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1500px;
    height: 2000px;
    overflow: hidden;
    img {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        min-width: 2500px;
    }
    &.layer-1 {
        transform: translateZ(-148.5px) scale(2.5) rotate(180deg);
    }
}

.parallax-cover{
    background: linear-gradient(transparent 5%,darken($gray, 10%) 31%);
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    min-height: 2000px;
    z-index: 9999;
    .main-content {
        background-color: darken($white, 25%);
        border-radius: 20px;
        margin-top: 280px;
        margin-bottom: 50px;
        padding: 30px;
        h3 {
            color: $white;
            margin-bottom: 30px;
            text-align: center;
        }
    }
}

$parallax__layers: 3;

@for $i from 0 through $parallax__layers {
$x: ($parallax__layers - $i) / 2;
    .layer-#{$i}{
        transform: translateZ(unquote("-99 * $x#{px}")) scale($x + 1);
    }
}

$general_skill_numbers: 4;
$development_skill_numbers: 9;
$os_skill_numbers: 3;
$program_skill_numbers: 7;
$i: 0;
@for $i from $general_skill_numbers * -1 through -1 {
    $x: ($general_skill_numbers - $i) / 2;
    $neg: 1;
    @if ($i % 2 == 0) {
        $neg: -1;
    }
    .general-skill-#{abs($i)}{
        @include media-breakpoint-up(lg){
            transform: translateX((-99 * $x) * $neg#{px});
            transition-delay: .7 * abs($i)#{s} !important;
        }
    }
}
$i: 0;
@for $i from $development_skill_numbers * -1 through -1 {
    $x: ($development_skill_numbers - $i) / 2;
    $neg: 1;
    @if ($i % 2 == 0) {
        $neg: -1;
    }
    .webDevelopment-skill-#{abs($i)}{
        @include media-breakpoint-up(lg){
            transform: translateX((-99 * $x) * $neg#{px});
            transition-delay: .5 * abs($i)#{s} !important;
        }
    }
}
$i: 0;
@for $i from $os_skill_numbers * -1 through -1 {
    $x: ($os_skill_numbers - $i) / 2;
    $neg: 1;
    @if ($i % 2 == 0) {
        $neg: -1;
    }
    .operatingSystem-skill-#{abs($i)}{
        @include media-breakpoint-up(lg){
            transform: translateX((-99 * $x) * $neg#{px});
            transition-delay: .6 * abs($i)#{s} !important;
        }
    }
}
$i: 0;
@for $i from $program_skill_numbers * -1 through -1 {
    $x: ($program_skill_numbers - $i) / 2;
    $neg: 1;
    @if ($i % 2 == 0) {
        $neg: -1;
    }
    .developmentSoftware-skill-#{abs($i)}{
        @include media-breakpoint-up(lg){
            transform: translateX((-99 * $x) * $neg#{px});
            transition-delay: .4 * abs($i)#{s} !important;
        }
    }
}

.skills {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin-bottom: 150px;
    overflow: hidden;
    &.skill-appear {
        .skill {
            opacity: 1;
            transform: translateX(0);
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        @include media-breakpoint-up(md){
            padding: 0 2.5%;
            width: 50%;
        }
        @include media-breakpoint-up(lg){
            padding: 0 1.25%;
            width: 25%;
        }
        &.general-skills { 
            .skill-title {
                background-color: $orange;
            }
            .skill-stars {
                color: $orange;
            }
        }
        &.webDevelopment-skills {
            .skill-title {
                background-color: $purple;
            }
            .skill-stars {
                color: $purple;
            }
        } 
        &.operatingSystem-skills {
            .skill-title {
                background-color: $green;
            }
            .skill-stars {
                color: $green;
            }
        }
        &.developmentSoftware-skills {
            .skill-title {
                background-color: $blue;
            }
            .skill-stars {
                color: $blue;
            }
        } 
        .skill {
            margin-bottom: 15px;
            background-color: #fff;
            border-radius: 10px;
            border-color: $lightGray;
            box-shadow: 0 0 5px 1px rgba(0,0,0,.5);
            opacity: 0;
            overflow: hidden;
            text-align: center;
            transition: opacity .75s ease, transform .5s ease;
            .skill-title {
                color: $white;
                font-size: 24px;
                padding: 15px;
            }
            .skill-stars {
                font-size: 24px;
                padding: 7px 15px;
            }
            .skill-description {
                display: block;
                padding: 7px 15px 15px;
            }
        }
    }
}
.experiences {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0 0 150px;
    .experience {
        margin-bottom: 30px;
        padding: 30px;
        position: relative;
        width: 100%;
        .card-front, .card-back {
            backface-visibility: hidden;
            background-color: $white;
            border: 1px solid $gray;
            transition: transform .5s linear, z-index .5s linear;
            transform-style: preserve-3d;
            > span {
                left:0;
                margin: auto;
                padding: 0 15px;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .card-front {
            display: block;
            height: 500px;
            margin: 0;
            padding: 15px;
            position: relative;
            text-align: center;
            transform: rotateY(0);
            transform-origin: center;
            z-index: 5;
        }
        .card-back {
            display: block;
            height: 500px;
            margin: 0 30px;
            position: absolute;
            right: 0;
            top: 30px;
            transform: rotateY(180deg);
            transform-origin: center;
            width: calc(100% - 75px);
            z-index: 1;
        }
        &:hover, &:active {
            .card-front, .card-back {
                transition: transform .5s linear, z-index .75s linear;
            }
            .card-front {
                transform: rotateY(180deg);
                z-index: 1;
            }
            .card-back {
                transform: rotateY(0);
                z-index: 5;
            }
        }
        @include media-breakpoint-up( md ) {
            margin: 0 2.5% 30px;
            width: 45%;
        }
        @include media-breakpoint-up( xl ) {
            margin: 0 1.5% 30px;
            width: 30%;
        }
    }
}
.contact-form {
    .tab-open {
        font-size: 16px;
    }
    font-size: 0;
    .contactForm {
        background-color: #fff;
        padding: 30px;
    }
    .form-group {
        @include media-breakpoint-up(md){
            display: inline-block;
            padding: 0;
            width: 50%;
            &:nth-child(2n) {
                padding-right: 2.5%;
            }
            &:nth-child(2n + 1) {
                padding-left: 2.5%;
            }
            &.full-width {
                padding: 0;
                width: 100%;
            }
        }
        &.full-width {
            font-size: 16px;
        }
        &.color {
            display: none;
        }
        .form-control {
        }
    }
}
.about-me {
    padding-bottom: 75px;
    img {
        padding-bottom: 30px;
    }
    @include media-breakpoint-up(lg) {
        img {
            padding-bottom: 0;
        }
    }
}