.page--basic__header {
    line-height: 1em;
    background-color: $white;
    margin-bottom: 50px;
    text-align: center;
    &::before, &::after {
        content: '';
        display: block;
        padding: 3em
    }
    &::before {
        background-image: linear-gradient(0deg, $orange 50%, $blue 50%);
    }
    &::after {
        background-image: linear-gradient(0deg, $blue 50%, $orange 50%);
    }
}