---
layout: home
---
<!DOCTYPE html>
<html>
    {% include head.html %}
    <body{% if page.class %} class="{{ page.class | prepend: 'page--'  }}"{% else %} class="{{ page.layout | prepend: 'page--' }}"{% endif %}>
		{% include components/navigation--mobile.html %}
        {% include regions/header.html %}
        <div class="hero parallax-container">
            <a id="me" class="sr-only"></a>
            <div class="parallax-layer layer-1"><img src="/assets/img/code4.png" alt="Coding background Web and SEO developer Ryan Videlock" title="Web Developer Ryan Videlock" /></div>
            <div class="parallax-layer layer-2"><img src="/assets/img/code6.png" alt="Web and SEO developer Ryan Videlock code background" title="Web Developer Ryan Videlock" /></div>
            <div class="parallax-layer layer-4"><img src="/assets/img/code8.png" alt="Background coding image Web and SEO developer Ryan Videlock" title="Web Developer Ryan Videlock" /></div>
            <div class="bcg">
                <div class="container">
                    <div class="hsContent">
                        <h1>Ryan Videlock</h1>
                        <h2>Full Stack Developer</h2>
                    </div>
                </div>
                <div class="down-arrow"></div>
            </div>
            <div class="parallax-cover">
                <div class="container main-content">   
                    {{ content }}
                </div>
            </div>
        </div>
        {% include regions/footer.html %}
		{% include scripts.html %}
    </body>
</html>